@(deleteBookingForm: Form[controllers.Bookings.BookingForm])(bookings: List[BookingsModel])

@import helper._

@main(title = "The 'delete Booking' application") {
    
    <h1>Selete Booking to delete</h1>
    
    @form(action = routes.Bookings.delete, args = 'id -> "deleteBookingForm") {
        


        <dl class=" " id="id_field">
           <p>Select Booking</p>
           <dd><select id="bid">
           @for(booking <- bookings) {
               <option value="@booking.Id">@booking.RoomId</option>
           }
           </select></dd>
        </dl>


        <p class="buttons">
            <input type="submit" value = "deleting booking">
        <p>
        
    }
    
}
